*.ps
*.html
*.dvi
/ScriptOOPLatexV0_0.pdf
*.tmp
/ScriptOOPLatexV0_1.pdf
/ScriptOOPLatexV0_12.pdf
/Script_CPP_pure_LatexV0_1.pdf
/ScriptOOP_pure_LatexV0_1.pdf
*.idx
*.log
*.aux
*.ilg
*.ind
*.toc
*.4ct
*.4tc
*.bbl
*.blg
*.idv
*.lg
*.xref
