*.ps
*.html
*.dvi
/ScriptOOPLatexV0_0.pdf
*.tmp
/ScriptOOPLatexV0_1.pdf
/ScriptOOPLatexV0_12.pdf
/Script_CPP_pure_LatexV0_1.pdf
/ScriptOOP_pure_LatexV0_1.pdf
*.idx
*.log
*.aux
*.ilg
*.ind
*.toc
*.4ct
*.4tc
*.bbl
*.blg
*.idv
*.lg
*.xref
/ScriptOOP_pure_LatexV0_1_backup.tex
/Script_CPP_pure_LatexV0_1.ind.old
*.out
*.old
*.bak
/Script_CPP_pure_LatexV0_2_backup20180216.tex
*.synctex.gz
/Script_CPP_pure_LatexV0_2.pdf
Script_CPP_*.pdf
